@tailwind base;
@tailwind components;
@tailwind utilities;

/* Explicit reset for html and body to prevent any browser default margins */
html,
body {
  margin: 0;
  padding: 0;
}

@layer utilities {
  .bg-page {
    background-color: var(--aw-color-bg-page);
  }
  .bg-dark {
    background-color: var(--aw-color-bg-page-dark);
  }
  .bg-light {
    background-color: var(--aw-color-bg-page);
  }
  .text-page {
    color: var(--aw-color-text-page);
  }
  .text-muted {
    color: var(--aw-color-text-muted);
  }
}

@layer components {
  .btn {
    @apply inline-flex items-center justify-center rounded-full border-black border bg-transparent font-medium text-center text-base text-page leading-snug transition py-3.5 px-6 md:px-8 ease-in duration-200 focus:ring-black focus:ring-offset-white focus:ring-2 focus:ring-offset-2 hover:bg-black hover:border-black hover:text-white dark:text-white dark:border-white dark:hover:bg-white dark:hover:border-white dark:hover:text-black cursor-pointer;
  }

  .btn-primary {
    @apply btn font-semibold bg-black text-white border-black hover:bg-[#9C9C9C] hover:border-[#9C9C9C] hover:text-white dark:text-white dark:bg-white dark:text-black dark:border-white dark:hover:border-[#9C9C9C] dark:hover:bg-[#9C9C9C] dark:hover:text-white;
  }

  .btn-secondary {
    @apply btn;
  }

  .btn-tertiary {
    @apply btn border-none shadow-none text-muted hover:text-black dark:text-[#9C9C9C] dark:hover:text-white;
  }
}

#header.scroll > div:first-child {
  @apply bg-transparent md:bg-white/90 md:backdrop-blur-md;
  box-shadow: none;
}
@media (min-width: 768px) {
  #header.scroll > div:first-child {
    box-shadow: 0 0.375rem 1.5rem 0 rgb(140 152 164 / 13%);
  }
}
.dark #header.scroll > div:first-child,
#header.scroll.dark > div:first-child {
  @apply bg-transparent md:bg-[#030621e6] md:border-b md:border-gray-500/20;
  box-shadow: none;
}
/* #header.scroll > div:last-child {
  @apply py-3;
} */

#header.expanded nav {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 70px !important;
  padding: 0 5px;
}
@media (min-width: 768px) {
  #header.expanded nav {
    top: 70px;
  }
}

.dropdown:focus .dropdown-menu,
.dropdown:focus-within .dropdown-menu,
.dropdown:hover .dropdown-menu {
  display: block;
}

[astro-icon].icon-light > * {
  stroke-width: 1.2;
}

[astro-icon].icon-bold > * {
  stroke-width: 2.4;
}

[data-aw-toggle-menu] path {
  @apply transition;
}
[data-aw-toggle-menu].expanded g > path:first-child {
  @apply -rotate-45 translate-y-[15px] translate-x-[-3px];
}

[data-aw-toggle-menu].expanded g > path:last-child {
  @apply rotate-45 translate-y-[-8px] translate-x-[14px];
}

/* To deprecated */

.dd *:first-child {
  margin-top: 0;
}
